.container {
  // width: 100%;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.content {
  min-height: calc(100vh - 1.5rem);
  margin-bottom: 1.5rem;
}

.navbar {
  background-color: #21272d;
  display: flex;
  margin-bottom: 2.5rem;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.subNav {
  display: flex;
  width: 100%;
}

.subNav a {
  margin-right: 3rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 2.5;
  text-decoration: none;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid;
  border-color: #adfbc4 !important;
}

.navbarHomeButton {
  background: transparent;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin-right: 3rem;
}

.searchBar {
  margin: 0;
  max-width: 100%;
  cursor: pointer !important;
  background-color: transparent;
  width: 48rem !important;
  height: 3rem;
  outline: none;
  border: none;
  float: right;
  border-radius: 0.25rem;
  background-color: #111316;
  border: 1px solid #78838e;
  // background-image: url(img/icons/search.png);
  background-repeat: no-repeat;
  background-position: center;
}

.searchBarInput {
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  height: 3rem;
}

.searchBarInput:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  padding: 1px 0.5rem !important;
  font-size: 1rem;
}

input[type="search" i]::-webkit-search-cancel-button {
  appearance: auto;
  height: 5rem;
  width: 5rem;
  display: block;
  cursor: default;
  margin-inline-start: 1px;
  margin-right: 3px;
  opacity: 0;
  pointer-events: none;
  -webkit-user-modify: read-only !important;
  user-select: none !important;
  flex: 0 0 auto;
}

input[type="search" i]:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: auto;
}
